In [ ]:
print(print())

In [ ]:
a = 7
print(a+=3)

In [ ]:
1/ True and False/1

In [ ]:
'1' in 123

In [ ]:
'1' in'123'

In [ ]:
1 is 1.0

In [ ]:
1 == 1.0

In [ ]:
True or False

In [ ]:
True and False

In [ ]:
5>>2

In [ ]:
5<<2

In [ ]:
~5

In [ ]:
~2

In [ ]:
~0

In [ ]:
~-1

In [ ]:
7/0

In [ ]:
if 1==1:
    print('hi')
else:
    print('diya')

In [ ]:
if 1==1:
    if 2==2:
        print('g')
    else:
        print('...')
else:
    print('yrty')

In [ ]:
n = input("enter number: ")
print(n)
print(type(n))

In [ ]:
a = int(input("Enter number: "))
if a%2==0:
    print(f"{a} is even")
    print(a," is even")
else:
    print("It is odd")

In [ ]:
year = int(input("Enter year: "))
if (year%4 == 0 and year%100!=0) or (year%400 ==0):
    print(year," is leap year")
else:
    print(year," is not leap year")

In [ ]:
n = int(input("Enter money: "))
if n>=75:
    nickle = n // 75
    n=n%75
    print(f"{nickle} nickle",end = " ")
if n>=25:
    quarter = n//25
    n=n%25
    print(f"{quarter} quarter",end = " ")
if n>=10:
    tens = n//10
    n=n%10
    print(f"{tens} tens", end=" ")
if n>=5:
    fives = n//5
    n= n%5
    print(f"{fives} fives", end=" ")
if n>=1:
    ones = n//1
    n=n%1
    print(f"{ones} penny", end =" ")

In [12]:
day = int(input("Enter day: "))
month = int(input("Enter month: "))
y = int(input("Enter year: "))
if (day>31 or day<1 or month<0 or month>31):
    print("Invalid input")
else:
    if (day == 31) and (month == 1 or month == 3 or month == 5 or month == 7 or month == 8 or month == 10 or month == 12):
        if month == 12 and day== 31:
            day=1
            month = 1
            y = y+1
    elif (day == 30) and (month == 4 or month == 6 or month == 9 or month == 11):
        day = 1
    else:
        if month ==2:
            if (y%4 == 0 and y%100!=0) or (y%400 ==0):
                if day<=28:
                    day = day+1
                if day==29:
                    day =1
                    month = month +1

print(day , month , y)

Enter day: 31
Enter month: 12
Enter year: 2000
1 1 2001

In [2]:
print('Hi')

Hi

In [25]:
cm = int(input("Enter in cm: "))
if cm>=1000:
    km = cm//1000
    cm = cm%1000
    print(f"{km} km ",end=" ")
if cm>=100:
    m = cm//100
    cm = cm%100
    print(f"{m} m ",end=" ")
    print(f"{cm} cm ",end=" ")

Enter in cm: 1000
1 km